@charset "utf-8";

@IMPORT url("./captcha.css");
@IMPORT url("./comment.css");
@IMPORT url("./jquery.fileupload.css");
@IMPORT url("./places/input-file.css");
@IMPORT url("./layout.css");
@IMPORT url("./lightbox.css");
@IMPORT url("./table.css");
@IMPORT url("./util.css");

/* Základní tvary, velikosti, umístění, okraje */
/* hlavní prvky */
body,img {
	margin: 0;
	border: 0;
}

table,tr {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

span.error {
	color: red;
	font: bold;
}

span.discount {
	font-size: 1.5em;
}

div#container,div#header_background,div#menu_background {
	width: 100%;
	min-width: 1200px;
}

div#header {
	width: 1188px;
	height: 125px;
	margin: 0 auto;
}

div#menu_container {
	width: 1188px;
	height: 40px;
	margin: 0 auto;
}

div#center_container {
	width: 1200px;
	margin: 0 auto;
}

div#side_menu {
	width: 256px;
	float: left;
}

.left {
	float: left;
}

.clear {
	clear: both
}

div#content_container {
	width: 944px;
	float: right;
}

div#content_container_short {
	width: 944px;
	margin-left: 260px;
}

div#news {
	width: 220px;
	float: right;
}

div#news_left {
	margin-top: 30px;
	width: 250px;
}

div.news_content {
	margin: 0 0 0 6px;
	padding: 15px;
}

div.news_content div.news_header {
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	margin: 0;
	clear: none;
}

div.news_content div.news_item {
	margin: 10px 0;
}

div.news_content div.news_item {
	margin: 10px 0;
}

div.news_content div.news_item span.news_item_date {
	font-style: italic;
}

div.filter_input {
	width: 15em;
	margin: 8px 18px;
}

div.button_filter {
	text-align: right;
}

input#button_filter {
	display: none;
}

div.slider input {
	border: none;
	background: #f9f9f9;
}

div.slider input.amountToInput {
	text-align: left;
}

div.slider input.amountFromInput {
	text-align: right;
}

div#footer {
	width: 932px;
	float: right;
	margin: 10px 6px 10px 0;
}

div.thumbnail {
	width: 104px;
	height: 104px;
	line-height: 100px;
	text-align: center;
	float: left;
	margin-right: 10px; 
}

div#thumbnails {
	height: 165px;
	margin-bottom: 30px;
}

.hidden {
	display: none;
}

/* hlavní menu */
div.menu_inline ul {
	width: 1188px;
	margin: 0;
	display: inline-table;
	padding: 0;
	list-style: none;
	position: relative;
}

div.menu_inline ul ul {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 100%;
	right: 0;
	width: 230px;
	padding: 15px 0 20px 0;
}

div.menu_inline ul li.admin:hover>ul {
	display: block;
}

div.menu_inline ul li.admin {
	float: right;
}

div.menu_inline ul ul li {
	clear: both;
	height: 22px;
	position: relative;
	display: block;
	float: none;
	padding: 0 20px;
}

div.menu_inline ul li {
	float: left;
	height: 40px;
}

div.menu_inline ul li a {
	padding: 10px 20px;
	position: relative;
	top: 11px;
}

div.menu_inline ul ul li a {
	top: 0px;
	padding: 0;
	margin: 0;
}

/* vedlejší menu */
div#side_menu div.side-menu {
	width: 214px;
	margin: 10px 0 0 6px;
	padding: 15px;
}

div#side_menu ul {
	padding: 10px 0 0 10px;
	margin: 0;
	list-style: none;
}

div#side_menu li {
	padding: 0 0 4px 0;
}

div#side_menu img,.right {
	float: right;
}

div#side_menu h1 {
	cursor: pointer;
}

.wrapper-dropdown {
	position: relative;
}

.wrapper-dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -6px;
	border-width: 6px 0 6px 6px;
	border-style: solid;
	border-color: transparent #58585a;
}

.wrapper-dropdown-1 .dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	pointer-events: none;
}

.wrapper-dropdown-1.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
	border-color: #9bc7de transparent;
	border-width: 6px 6px 0 6px;
	margin-top: -3px;
}

/* patka */
div#footer a.action_button_dark {
	float: right;
	margin: 0;
}

div#footer a {
	margin: 0 10px;
}

div#footer p {
	float: left;
	margin: 11px;
}

/* homepage */
div#content_container_short div.homepage_unit {
	width: 224px;
	display: block;
	margin: 0px 11px 10px 6px;
	float: left;
}

div.homepage_unit div.home_description {
	width: 194px;
	height: 85px;
	overflow: hidden;
	padding: 15px;
	margin: 0;
}

div.homepage_unit div.home_description div.description {
	width: 100%;
	height: 60px;
	overflow: hidden;
}

div.homepage_unit div.home_seller {
	width: 169px;
	padding: 15px 40px 10px 15px;
	margin: 0;
	position: relative;
}

div.homepage_unit div.home_seller img {
	margin: 5px 0 2px 0;
}

/* category */
div#content_container div.category_unit {
	height: 146px;
	width: 932px;
	float: left;
	margin: 10px 6px 6px 6px;
}

div.category_unit div.cat_description {
	width: 454px;
	height: 116px;
	float: left;
	padding: 5px;
	margin: 0;
}

div.category_unit div.cat_description div.description {
	width: 100%;
	height: 75px;
	overflow: hidden;
}

div.cat_prodejce {
	height: 111px !important;
}

div.cat_prodejce_popis {
	padding: 15px !important;
}

div.category_unit div.cat_seller {
	width: 194px;
	height: 116px;
	float: right;
	padding: 15px;
	margin: 0;
}

div.category_unit div.cat_seller img {
	float: right;
	margin: 15px 0;
}

div.category_unit div.cat_seller div {
	float: none;
	text-align: center;
	margin: 40px auto 0 auto;
}

div.category_unit div.cat_prodejce_popis div {
	margin: 34px auto 0 auto !important;
}

div.detail_description div.order_button {
	float: right;
	margin: 25px 0;
}

div.detail_description div.description {
	width: 100%;
	overflow-y: scroll;
	height: 160px;
}

div.detail_description div.description_short {
	width: 100%;
	overflow-y: scroll;
	height: 145px;
}

div.filters {
	width: 902px;
	height: 180px;
	margin: 0px 6px 6px 6px;
	padding: 15px;
}

div.filter_left {
	width: 200px;
	float: left;
}

div.filter_right {
	width: 700px;
	margin-left: 230px;
}

div.filter_right .filter_input {
	float: left;
}

div.inner_filters {
	width: 894px;
	height: 125px;
	margin: 0px 0px 6px 0px;
	padding: 15px;
}

div#content_container div.filters form input,div.filters,div.inner_filters form select
	{
	border-collapse: collapse;
	border: 1px solid silver;
	background: none;
}

div.filters form button,div.inner_filters form button {
	border-collapse: collapse;
	border: 0px;
	background: #58585a;
	color: white;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

div.filters form button:hover,div.inner_filters form button:hover {
	background: #f1941c;
}

div#content_container div.sorting {
	float: left;
	margin: 2px 21px 0 21px;
}

div#content_container div.pages {
	float: right;
	font-size: 1.3em;
	margin: 2px 21px 0 21px;
}

/* generic */
div#content_container {
	padding: 10px 0 0 0;
}

/* generic */
div#content_container_short {
	padding: 10px 0 0 0;
}

/* generic */
div#content_container div.general_unit {
	padding: 10px 10px;
}

/* generic */
div#content_container_short div.general_unit {
	margin: 0 230px 6px 6px;
	padding: 15px;
}

/* generic */
div#content_container div.general_unit_empty {
	padding: 10px 10px;
}

/* generic */
div#content_container_short div.general_unit_empty {
	margin: 0 230px 6px 6px;
	padding: 15px;
}

/* samostatné prvky */
img#logo {
	float: left;
	border: 0;
	margin: 20px 0 0 0;
}

a.action_button {
	padding: 12px 30px 10px 30px;
}

a.action_button_dark {
	padding: 12px 30px 12px 30px;
}

div#header a.action_button {
	margin: 50px 0 0 0;
	float: right;
}

/* detail */
div.detail_header {
	width: 932px;
	float: left;
	margin: 0px 6px 6px 6px;
}

div.img_border {
	vertical-align: middle;
	text-align: center;
	float: left;
}

div.detail_header div.img_border {
	display: table-cell;
}

div.detail_header div.img_border a {
	display: inline;
}

div.detail_header div.detail_img img.detail_img_content {
	vertical-align: middle;
	display: inline;
	float: none;
}

div.detail_tag {
	width: 318px;
	padding: 15px;
	margin: 0;
	float: left;
}

div.detail_description {
	width: 330px;
	padding: 15px;
	background: #f9F9F9;
	min-height: 293px;
	float: right;
	margin: 0;
	overflow: auto;
}

div.detail_description div.valid {
	width: 100%;
	text-align: center;
}

div.detail_description {
	height: 233px;
}

div.detail_pictures {
	width: 236px;
	float: left;
}

div.detail_pictures img {
	margin: 6px;
}

div.detail_info {
	margin: 0 6px 0 0;
	padding: 0;
	width: 938px;
	float: right;
}

div.detail_info_seller {
	margin: 0 6px 0 6px;
	padding: 0;
	width: 932px;
	float: right;
}

div.detail_specifications {
	margin: 6px 0 0 6px;
	float: right;
	padding: 15px;
	width: 666px;
}

table.left_column {
	width: 240px;
	margin: 0 10px 0 0;
	float: left;
}

table.right_column {
	width: 48%;
	margin: 0 0 6px 0;
	float: right;
	width: 50%;
}

table.right_column td {
	width: 48%;
}

div.seller_specifications {
	margin: 0;
	float: left;
	padding: 15px;
	width: 478px;
}

div.seller_ads {
	margin: 0;
	float: right;
	padding: 15px;
	width: 394px;
}

div.seller_ads_wide {
	margin: 0;
	padding: 15px;
	width: 902px;
}

table.ad_list {
	width: 100%;
	margin: 3px 0 0 0;
	border: 0;
}

table.ad_list td {
	border: 0;
}
/* Text */
body,div.menu_inline ul ul a {
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: 400;
}

div.menu_inline ul a,a.action_button,div#side_menu h1,a.action_button_dark,.label
	{
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	margin: 0;
	clear: none;
}

.label,p.detail_price {
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.6em;
	font-weight: 700;
	margin: 0;
	clear: none;
}

div.menu_inline ul a {
	text-decoration: none;
}

a,.label {
	text-decoration: underline;
}

.valid {
	font-weight: bold;
	color: green;
}

.invalid {
	font-weight: bold;
	color: red;
}

.waiting_for_valid {
	font-weight: bold;
	color: blue;
}

div.homepage_unit a {
	font-weight: 700;
}

.price_final {
	font-weight: bold;
	font-size: 1.3em;
	color: #f1941c;
}

.price_discount {
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;
	color: #f1941c;
}

.price {
	font-style: italic;
	font-size: 0.9em;
	color: #f1941c;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	nobreak;
}

thead {
	font-weight: 700;
}

h1 {
	font-weight: 700;
	font-size: 1.3em;
	margin: 0;
}

h2 {
	font-weight: 700;
	font-size: 1.2em;
	margin: 0;
}

h3 {
	font-weight: 700;
	font-size: 1.1em;
	margin: 0;
}

h4 {
	font-weight: 700;
	font-size: 1em;
	font-style: italic;
	margin: 0;
}

h5 {
	font-weight: 700;
	font-size: 1em;
	margin: 0;
}

h2.title {
	display: block;
	min-width: 80px;
	min-height: 24px;
	max-width: 300px;
	max-height: 24px;
	overflow: hidden;
}

/* Barvy a pozadí */
body {
	color: #333;
	background: url(../background/body_bg.jpg);
}

div#header_background {
	background: #f9f9f9;
}

div#menu_background {
	background: #497f96;
	background: linear-gradient(top, #497f96 0%, #3e6576 90%);
	background: -moz-linear-gradient(top, #497f96 0%, #3e6576 90%);
	background: -webkit-linear-gradient(top, #497f96 0%, #3e6576 90%);
	box-shadow: 0px 6px 6px #f9f9f9;
}

a,.label {
	color: #497f96;
}

a:hover,div.menu_inline ul ul li a:hover {
	color: #f1941c;
}

thead,thead a {
	background: #58585a;
	color: #f9f9f9 !important;
	text-decoration: none !important;
}

thead a:hover {
	color: #f1941c !important;
}

div.menu_inline a,div.menu_inline a:hover,div.menu_inline ul ul li a,a.action_button_dark
	{
	color: #f9f9f9;
}

div.menu_inline ul li.admin ul {
	background: #497f96;
	background: linear-gradient(top, #497f96 0%, #3e6576 90%);
	background: -moz-linear-gradient(top, #497f96 0%, #3e6576 90%);
	background: -webkit-linear-gradient(top, #497f96 0%, #3e6576 90%);
}

div.menu_inline ul li.admin ul li {
	background: none;
}

div.menu_inline ul li.admin ul li:hover {
	background: none;
}

div.menu_inline ul li:hover {
	background: #58585a;
	background: linear-gradient(top, #e08d21 0%, #f1941c 90%);
	background: -moz-linear-gradient(top, #e08d21 0%, #f1941c 90%);
	background: -webkit-linear-gradient(top, #e08d21 0%, #f1941c 90%);
}

div.menu_inline ul li.admin:hover {
	background: #58585a;
	background: linear-gradient(top, #e08d21 0%, #f1941c 90%);
	background: -moz-linear-gradient(top, #e08d21 0%, #f1941c 90%);
	background: -webkit-linear-gradient(top, #e08d21 0%, #f1941c 90%);
}

a.action_button {
	border-bottom: 4px solid #497f96;
	background: #f3f3f3;
	transition: all 0.2s ease-out;
}

a.action_button:hover {
	background: #eee;
}

a.action_button_dark {
	background: #58585a;
	transition: all 0.2s ease-out;
}

a.action_button_dark:hover {
	background: #e08d21;
}
/* Barvy patka */
div#footer {
	border-top: 1px solid #58585a;
}

/* Barvy - vedlejší menu a další */
div#side_menu div.side-menu,div#content_container_short div.homepage_unit
	{
	background: #f9f9f9;
	border-bottom: 4px solid #58585a;
	box-shadow: 0px 0px 6px #C0C0C0;
}

div#content_container div.category_unit,div.filters,div.inner_filters,div#content_container div.detail_header,div.news_content,div.detail_specifications,div.detail_pictures img,div.general_unit
	{
	background: #f9f9f9;
	box-shadow: 0px 0px 6px #C0C0C0;
}

div.seller_specifications {
	background: #f9f9f9;
}

div.home_seller,div.cat_seller,div.detail_tag,div.seller_ads {
	background: #f3f3f3;
	transition: all 0.2s ease-out;
}

div.detail_info_seller {
	background: #f3f3f3;
	box-shadow: 0px 0px 6px #C0C0C0;
}

div.home_seller:hover,div.cat_seller:hover {
	background: #eee;
}

p.price,p.detail_price {
	color: #f1941c;
}

.home_seller p:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 21px;
	top: 50%;
	margin-top: -10px;
	border-width: 10px 0 10px 12px;
	border-style: solid;
	border-color: transparent #58585a;
	transition: all 0.3s ease-out;
}

.home_seller:hover p:after {
	border-color: transparent #f1941c;
}

#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#login {
	display: none;
	background: white;
	position: fixed;
	opacity: 1;
	z-index: 11000;
	left: 50%;
	top: 200px;
	width: 350px;
}

#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#login form div.login_button_field {
	background: #f3f3f3;
	height: 40px;
}

#login form div {
	padding: 30px;
}

#login form input {
	padding: 12px;
	background: none;
	border: 1px solid #58585a;
	width: 250px;
	margin: 0 0 6px 0;
}

#login form label.login_label {
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
	margin: 0 0 6px 0;
}

#login form button {
	width: 131px;
	height: 42px;
	margin: 0 0 0 12px;
	padding: 12px;
	background: #58585a;
	float: right;
	border: 0;
	border-collapse: collapse;
	color: #f9F9F9;
	text-decoration: underline;
	font-weight: bold;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

#login form button:hover {
	background: #f1941c;
}

#login form a {
	float: left;
}

/* DEMO 2 */
.wrapper-dropdown-2 {
	/* Size and position */
	position: relative;
	/* Enable absolute positionning for children and pseudo elements */
	width: 200px;
	/* Styles */
	cursor: pointer;
	outline: none;
}

.wrapper-dropdown-2:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 16px;
	top: 22px;
	margin-top: -3px;
	border-width: 8px 6px 0 6px;
	border-style: solid;
	border-color: #58585a transparent;
}

.wrapper-dropdown-2 .dropdown {
	/* Size & position */
	/* Styles */
	list-style: none;
	/* Hiding */
	display: none;
	pointer-events: none;
}

.wrapper-dropdown-2 .dropdown li a {
	display: block;
}

/* Active state */
.wrapper-dropdown-2.active:after {
	border-width: 0 6px 8px 6px;
	border-color: #f1941c transparent;
}

.wrapper-dropdown-2.active h1 {
	color: #f1941c;
}

.wrapper-dropdown-2.active .dropdown {
	display: block;
	pointer-events: auto;
}

/* No CSS3 support */
.no-opacity       .wrapper-dropdown-2 .dropdown,.no-pointerevents .wrapper-dropdown-2 .dropdown
	{
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto;
	/* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,.no-pointerevents .wrapper-dropdown-2.active .dropdown
	{
	display: block;
}

.errors {
	font-weight: bold;
	color: red;
}

.cenovka_2:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: -14px;
	top: 50%;
	margin-top: -14px;
	border-width: 14px 14px 14px 0px;
	border-style: solid;
	border-color: transparent red;
	color: red;
}

.cenovka_2 {
	width: 90px;
	position: relative;
	padding: 6px 4px;
	background: red;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}

/* Hlavní styly pro mutaci: Místa */
div#header {
	background: url(../img/background/mista_bg.png) no-repeat;
}

#mista_mapa {
	width: 705px;
	margin: 0px 6px 0px 6px;;
	float: left;
	background: #f9f9f9;
	box-shadow: 0px 0px 6px #C0C0C0;
}

.news {
	width: 192px;
	float: right;
	background: #f9f9f9;
	box-shadow: 0px 0px 6px #C0C0C0;
	padding: 15px;
	margin: 10px 6px 0px 0px;
}

ul#main_menu li.comeback {
	background: #58585a;
	background: linear-gradient(top, #58585a 0%, #4b4b4b 90%);
	background: -moz-linear-gradient(top, #58585a 0%, #4b4b4b 90%);
	background: -webkit-linear-gradient(top, #58585a 0%, #4b4b4b 90%);
	float: right;
}

ul#main_menu li.comeback:hover {
	background: #f1941c;
	background: linear-gradient(top, #e08d21 0%, #f1941c 90%);
	background: -moz-linear-gradient(top, #e08d21 0%, #f1941c 90%);
	background: -webkit-linear-gradient(top, #e08d21 0%, #f1941c 90%);
}

div.response {
	margin-left: 50px;
	background: #f3f3f3;
}

textarea.place_description {
	height: 224px;
}

/* navigace v zadávání místa */

.navi {
	border: 0;
	font-weight: bold;
	position: relative;
	height: 20px;
	padding-left: 5px;
	display: block;
	margin: 0;
	padding: 3px;
	width: 205px;
	float: left;
	color: inherit;
	text-decoration: none;
}

div#side_menu a.current {
	background: inherit;
	color: #f1941c;
}

div.step .current {
	background: #497f96;
	color: white;
}

.current:after {
	right: 0px;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #f9f9f9;
	border-left-color: #497f96;
	border-width: 13px;
	margin-top: -13px;
}

form table td {
	border: 0;
}