.clickable {
	cursor: pointer;
}

.large {
	font-size: large;
}

.red {
	color: red;
}

.pull_left {
	float: left;
}

.pull_right {
	float: right;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

.left_justify {
	margin-left: 40px;
	margin-right: 20px;
}

div.info_label {
	margin: 10px 5px;
}

a.undecorated {
	text-decoration: none;
	color: inherit;
}

a.undecorated:hover {
	text-decoration: none;
	color: inherit;
}

a img {
	border: none;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}