.clickable {
	cursor: pointer;
}

.large {
	font-size: large;
}

.red {
	color: red;
}

.pull_left {
	float: left;
}

.pull_right {
	float: right;
}

.text_right {
	text-align: right;
}

.left_justify {
	margin-left: 40px;
	margin-right: 20px;
}

div.info_label {
	margin: 10px 5px;
}

a.undecorated {
	text-decoration: none;
	color: inherit;
}

a.undecorated:hover {
	text-decoration: none;
	color: inherit;
}

a img {
	border: none;
}