<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<h3>Dobrý den, bylo Vám změněno heslo do aplikace Kolomet</h3>
		<div>
			<h4>Informace:</h4>
			<ul>
				<li><b>Uživatelské jméno:</b> ${applicationuser.username}</li>
				<li><b>Heslo:</b> ${password}</li>
			</ul>
		</div>		
		<br />
		Děkujeme za Váš zájem o služby, v případě jakéhokoliv dotazu nás neváhejte kontaktovat na emailu 
		<a href="mailto:info@kolomet.cz">info@kolomet.cz</a>
		<br />
		Kolomet s.r.o.
	</body>
</html>