<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<h3>Dobrý den, evidujeme nový požadavek o registraci</h3>
		<div>
			<h4>Informace:</h4>
			<ul>
				<li><b>Email:</b> ${registrationrequest.email}</li>
				<li><b>Telefon:</b> ${registrationrequest.phone}</li>
				<li><b>Poznámka:</b></li>
				${registrationrequest.text}
			</ul>
		</div>		
		<br />
		Kolomet s.r.o.
	</body>
</html>