<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<display-name>kolomet</display-name>

	<description>Roo generated kolomet application</description>


	<!-- Enable escaping of form submission contents -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
	</context-param>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>openEntityManageInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openEntityManageInViewFilter</filter-name>
		<servlet-name>kolomet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>openEntityManageInViewFilter</filter-name>
		<url-pattern>/j_spring_security_check</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>multipartFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>multipartFilter</filter-name>
		<servlet-name>kolomet</servlet-name>
	</filter-mapping>
	
	<filter>
		<filter-name>HttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HttpMethodFilter</filter-name>
		<servlet-name>kolomet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>publicHibernateFilterActivatorFilter</filter-name>
		<filter-class>cz.kolomet.util.web.HibernateFilterActivatorFilter</filter-class>
		<init-param>
			<param-name>enabledFilters</param-name>
			<param-value>newsItemEnabledFilter,productEnabledFilter,sellerEnabledFilter,productValidToFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>publicHibernateFilterActivatorFilter</filter-name>
		<url-pattern>/store/public/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>publicHibernateFilterActivatorFilter</filter-name>
		<url-pattern>/tour/public/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>adminHibernateFilterActivatorFilter</filter-name>
		<filter-class>cz.kolomet.util.web.HibernateFilterActivatorFilter</filter-class>
		<init-param>
			<param-name>enabledFilters</param-name>
			<param-value>sellerOwnFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>adminHibernateFilterActivatorFilter</filter-name>
		<url-pattern>/store/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminHibernateFilterActivatorFilter</filter-name>
		<url-pattern>/tour/admin/*</url-pattern>
	</filter-mapping>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Handles Spring requests -->
	<servlet>
		<servlet-name>kolomet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring/webmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>kolomet</servlet-name>
		<url-pattern>/tour/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>kolomet</servlet-name>
		<url-pattern>/store/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>kolomet</servlet-name>
		<url-pattern>/intro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>kolomet</servlet-name>
		<url-pattern>/qr</url-pattern>
	</servlet-mapping>
	
	<!-- Handles resources requests -->
	<servlet>
		<servlet-name>resources</servlet-name>
		<servlet-class>org.springframework.js.resource.ResourceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>resources</servlet-name>
		<url-pattern>/package-resources/*</url-pattern>
	</servlet-mapping>

	<!-- Handles uploaded img files requests -->
	<servlet>
		<servlet-name>uploadedFiles</servlet-name>
		<servlet-class>cz.kolomet.util.web.DownloadFileServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadedFiles</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	
	<!-- Handles captcha requests -->
	<servlet>
		<servlet-name>captcha</servlet-name>
		<servlet-class>cz.kolomet.util.web.CaptchaServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>captcha</servlet-name>
		<url-pattern>/captcha/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jspx</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/store/public/uncaughtException</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/store/public/resourceNotFound</location>
	</error-page>
	
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.kolomet.cz/tags/util</taglib-uri>
			<taglib-location>/WEB-INF/tld/kolomet-util.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>